<form method="post" name="frederikdesmedt.com contact" action="success" data-netlify="true" netlify-honeypot="phonenumber">
	<div class="field">
		<label class="label" for="name">{{ .Site.Params.Contact.labelName }}</label>
		<input class="input" type="text" name="name" id="name" required />
	</div>
	<div class="field">
		<label class="label" for="email">{{ .Site.Params.Contact.labelEmail }}</label>
		<input class="input" type="text" name="email" id="email" required />
	</div>
	<div class="field">
		<label class="label" for="message">{{ .Site.Params.Contact.labelMessage }}</label>
		<textarea class="textarea" name="message" id="message" rows="6" required></textarea>
	</div>
	<div class="field is-hidden">
		<label class="label" for="phonenumber">Don’t fill this out if you’re human</label>
		<input class="input" type="text" name="phonenumber" id="phonenumber" required />
	</div>
	<div class="actions">
		<input type="submit" value="{{ .Site.Params.Contact.buttonSend }}" class="button is-primary" />
		<input type="reset" value="{{ .Site.Params.Contact.buttonClear }}" class="button is-primary is-outlined" />
	</div>
</form>
